@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #819A91;
/*    background: linear-gradient(
        to bottom right, 
        #C5D4CF 0%, 
        #AFC2BC 20%, 
        #819A91 100%
    ); */
}

/* Content page (navigation bar) */

nav {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 78px 6%;
    cursor: pointer;
    transition: all .50s ease;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    font-weight: 500;
}

.nav-shape {
    position: relative;
    padding: 30px 0;
}

.nav-shape::before {
    content: '';
    position: absolute;
    top: -67px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    background-color: #fdd835;
    border-radius: 35px;
    opacity: 0;
    transition: all .50s ease;
}

.nav-shape.active::before {
    opacity: 1;
}

.nav-items a.active {
    color: #FCF259;
}

.nav-items a.active {
    color: #FCF259;
}

nav a:not(.two-icons, .fa-lightbulb) {
    font-size: 1.2rem;
    color: white;
}

.fa-lightbulb, .two-icons i, .sidebar-icon i {
    color: white;
    font-size: 2rem;
}

nav a:hover:not(.logo) {
    color: #FCF259;
}

.logo i {
    margin-right: 3px;
}

.two-icons {
    display: flex;
    gap: 30px;
}

@media (max-width: 900px) {
    .sidebar-icon {
        display: block;
        cursor: pointer;
    }
    .nav-items {
        z-index: 9999;
        position: absolute;
        top: 12%;
        right: -100%;
        width: 270px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 25px;
        backdrop-filter: blur(20px);
        background-color: rgba(129, 154, 145, 0.5);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: all .50s ease;
    }
    .nav-items a {
        display: block;
        padding: 0 25px;
        margin: 32px 0;
        transition: all .50s ease;
    }
    .nav-items.open {
        right: 2%;
    }
    .nav-shape::before {
        display: none;
    }
}

@media (max-width:1470px) {
    nav {
        padding: 48px 6%;
    }
    nav a:not(.two-icons, .fa-lightbulb) {
        font-size: 1rem;
    }

    .fa-lightbulb, .two-icons i, .sidebar-icon i {
        color: white;
        font-size: 1.5rem;
    }
    .nav-shape {
        padding: 2px 0;
    }
    .nav-shape::before {
        width: 70px;
        height: 35px;
    }
}

@media (max-width:738px) {
    nav a:not(.two-icons, .fa-lightbulb) {
        font-size: 0.8rem;
    }

    .fa-lightbulb, .two-icons i, .sidebar-icon i {
        color: white;
        font-size: 1.1rem;
    }
}

@media (max-width:600px) {
    nav {
        padding: 28px 6%;
    } 
}

/* Main Content (content page) */

.typing-text {
    margin-top: 0.3rem;
    padding: 48px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    min-width: 280px;
    color: white;
}

.typing-text span {
    position: relative;
}

.typing-text span::before{
    content: "Notes";
    color: #FCF259;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    animation: cursor 0.6s infinite;
}

@keyframes words {
    0%, 20% {
        content: "Experiments";
    }
    21%, 40% {
        content: "Assignments";
    }
    41%, 60% {
        content: "Cources";
    }
    61%, 80% {
        content: "PYQ papers";
    }
    81%, 100% {
        content: "Teacher info.";
    }
}

.main-content {
    margin: auto;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    transition: all .50s ease;
}

.card {
    padding: 20px;
    width: 330px;
    min-height: 370px;
/*    flex: 1 1 300px;  */
    border-radius: 20px;
    background: #f0f4f3;
    box-shadow: 
        8px 8px 15px rgba(129, 154, 145, 0.25),
        -5px -5px 12px rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 
        10px 10px 20px rgba(129, 154, 145, 0.35), 
        -5px -5px 12px rgba(255, 255, 255, 0.8);
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #169976;
    margin: 15px 0 0 10px;
}

.card-image {
    min-height: 170px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
}

.by-name {
    font-weight: 700;
}

.card button {
    margin: 20px 0 0 10px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #1DCD9F;
    color: #ffffff;
    cursor: pointer;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.card button:hover {
    background-color: #169976;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.card button:active {
    background-color: #1DCD9F;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

@media (max-width:1280px) {
    .typing-text {
        font-size: 2rem;
    }
    .main-content {
        max-width: 900px;
        gap: 25px;
    }
}

@media (max-width: 900px) {
    .main-content {
        max-width: 620px;
    }
    .card {
        max-width: 40%;
        padding: 15px;
    }
    .card-image {
        min-height: 100px;
    }
    .card-title {
        font-size: 16px;
    }
    .card-body {
        font-size: 14px;
    }
    .card button {
        padding: 10px 25px;
        font-size: 14px;
    }
}

@media (max-width:480px) {
    .typing-text {
        font-size: 1.2rem;
        padding: 38px;
    }
    .main-content {
        max-width: 400px;
    }
    .card {
        min-height: 100px;
        padding: 10px;
    }
}

/* Content page (footer) */

.footer {
    margin-left: auto;
    margin-top: 100px;
    position: relative;
    padding: 38px 0;
    background-color: #B8CFCE;
    width: 1800px;
    border-radius: 10rem 0 0 0;
    display: flex;
    align-items: center;
    transition: all .50s ease;
}

.axe-logo {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 100px;
}

.x {
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

.axe-logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.footer-text {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    width: 700px;
}

.footer h4 {
    color: white;
    font-size: 4rem;
    font-weight: 200;
    padding: 0 100px;
}

.footer h5 {
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
}

@media (max-width:2100px) {
    .footer {
        width: 1600px;
    }
    .footer-text {
        font-size: 1rem;
        width: 600px;
    }
    .footer h5 {
        font-size: 1rem;
    }
}

@media (max-width:1852px) {
    .footer {
        width: 1500px;
    }
    .footer-text {
        width: 500px;
    }
}

@media (max-width:1756px) {
    .footer {
        width: 1300px;
    }
    .footer-text {
        width: 400px;
        font-size: 0.8rem;
    }
    .footer h5 {
        font-size: 0.8rem;
    }
    .axe-logo img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:1670px) {
    .footer {
        width: 1250px;
    }
}

@media (max-width:1470px) {
    .footer {
        width: 1100px;
    }
    .footer-text {
        width: 350px;
        font-size: 0.7rem;
    }
    .footer h5 {
        font-size: 0.7rem;
    }
    .footer h4 {
        padding: 0 70px;
    }
    .x {
        font-size: 1.5rem;
    }
    .axe-logo {
        gap: 20px;
    }
}

@media (max-width:1320px) {
    .footer {
        width: 950px;
    }
    .footer-text {
        font-size: 0.6rem;
    }
    .footer h5 {
        font-size: 0.6rem;
    }
    .footer h4 {
        padding: 0 50px;
    }
    .axe-logo {
        padding-right: 50px;
    }
    .axe-logo img {
        width: 75px;
        height: 75px;
    }
    .x {
        font-size: 1rem;
    }
}

@media (max-width:1224px) {
    .footer {
        width:850px;
    }
    .footer-text {
        width:250px;
    }
}

@media (max-width:1132px) {
    .footer {
        width: 800px;
    }
}

@media (max-width:1044px) {
    .footer {
        width: 750px;
    }
    .footer h4 {
        padding: 0 30px;
    }
    .axe-logo {
        padding-left: 80px;
    }
}

@media (max-width:600px) {
    .footer {
        width: 100%;
        border-radius: 0;
    }
    .axe-logo {
        padding: 0 6%;
        gap: 10px;
    }
    .axe-logo img {
        width: 50px;
        height: 50px;
    }
    .footer h4 {
        padding: 0 10px;
        font-weight: 100;
    }
    .footer-text {
        width: 140px;
        font-size: 0.5rem;
    }
    .footer h5 {
        font-size: 0.5rem;
    }
}

@media (max-width:396px) {
    .footer-text {
        width: 150px;
    }
    .footer h4, .footer h5 {
        display: none;
    }
}

/* Content page (class h6) */

.class-h6 {
    position: fixed;
    bottom: 0%;
    width: 130px;
    padding: 68px 6%;
    display: flex;
    align-items: center;
}

.class-h6 h6 {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width:1670px) {
    .class-h6 h6 {
        font-size: 1rem;
    }
}

@media (max-width:1470px) {
    .class-h6 h6 {
        font-size: 0.9rem;
    }
}

@media (max-width:1132px) {
    .class-h6 {
        width: 100px;
    }
    .class-h6 h6 {
        font-size: 0.7rem;
    }
}

@media (max-width:850px) {
    .class-h6 {
        display: none;
    }
}