@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #819A91;
}

/* Home page (navigation bar) */

nav {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 78px 6%;
    cursor: pointer;
    transition: all .50s ease;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    font-weight: 500;
}

.nav-shape {
    position: relative;
    padding: 30px 0;
}

.nav-shape::before {
    content: '';
    position: absolute;
    top: -67px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    background-color: #fdd835;
    border-radius: 35px;
    opacity: 0;
    transition: all .50s ease;
}

.nav-shape.active::before {
    opacity: 1;
}

.nav-items a.active {
    color: #FCF259;
}

.nav-items a.active {
    color: #FCF259;
}

nav a:not(.two-icons, .fa-lightbulb) {
    font-size: 1.2rem;
    color: white;
}

.fa-lightbulb, .two-icons i, .sidebar-icon i {
    color: white;
    font-size: 2rem;
}

nav a:hover:not(.logo) {
    color: #FCF259;
}

.logo i {
    margin-right: 3px;
}

.two-icons {
    display: flex;
    gap: 30px;
}

@media (max-width: 900px) {
    .sidebar-icon {
        display: block;
        cursor: pointer;
    }
    .nav-items {
        z-index: 9999;
        position: absolute;
        top: 12%;
        right: -100%;
        width: 270px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 25px;
        backdrop-filter: blur(20px);
        background-color: rgba(129, 154, 145, 0.5);
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: all .50s ease;
    }
    .nav-items a {
        display: block;
        padding: 0 25px;
        margin: 32px 0;
        transition: all .50s ease;
    }
    .nav-items.open {
        right: 2%;
    }
    .nav-shape::before {
        display: none;
    }
}

@media (max-width:1470px) {
    nav {
        padding: 48px 6%;
    }
    nav a:not(.two-icons, .fa-lightbulb) {
        font-size: 1rem;
    }

    .fa-lightbulb, .two-icons i, .sidebar-icon i {
        color: white;
        font-size: 1.5rem;
    }
    .nav-shape {
        padding: 2px 0;
    }
    .nav-shape::before {
        width: 70px;
        height: 35px;
    }
}

@media (max-width:738px) {
    nav a:not(.two-icons, .fa-lightbulb) {
        font-size: 0.8rem;
    }

    .fa-lightbulb, .two-icons i, .sidebar-icon i {
        color: white;
        font-size: 1.1rem;
    }
}

@media (max-width:600px) {
    nav {
        padding: 28px 6%;
    } 
}

/* Home page (main content) */

.main {
    padding: 68px 6%;
    width: 700px;
    display: flex;
    flex-direction: column;
    transition: all .50s ease;
}

.main h1 {
    font-size: 6rem;
    font-weight: 800;
    color: white;
}

.main p {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.main h5 {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
}

.books-bg {
    z-index: -999;
    position: absolute;
    top: 18%;
    right: 0%;
    height: 69vh;
    width: 1000px;
    border-radius: 10rem 0 0 10rem;
    background-color: #A7C1A8;
    transition: .50s ease;
}

.books-img {
    z-index: -99;
    position: absolute;
    top: 15%;
    right: 0%;
    filter: drop-shadow(5px 5px 10px #555);
    transition: .50s ease;
}

.books-img img {
    width: 1450px;
    height: 1200px;
}

@media (max-width:2100px) {
    .main {
        width: 600px;
    }
    .main h1 {
        font-size: 5rem;
    }
    .main p {
        font-size: 1.2rem;
    }
    .main h5 {
        font-size: 1rem;
    }
    .books-bg {
        width: 875px;
    }
    .books-img img {
        width: 1300px;
    }
}

@media (max-width:1852px) {
    .main {
        width: 500px;
    }
}

@media (max-width:1756px) {
    .books-bg {
        width: 800px;
    }
    .books-img {
        right: -4%;
    }
}

@media (max-width:1670px) {
    .main {
        width: 475px;
    }
    .main h1 {
        font-size: 4rem;
    }
    .main p {
        font-size: 1rem;
    }
    .main h5 {
        font-size: 0.9rem;
    }
    .books-bg {
        width: 750px;
    }
    .books-img {
        right: -7%;
    }
    .books-img img {
        width: 1300px;
        height: 1100px;
    }
}

@media (max-width:1580px) {
    .books-bg {
        width: 700px;
    }
    .books-img {
        top: 13%;
        right: -2%;
    }
    .books-img img {
        width: 1100px;
        height: 850px;
    }
}

@media (max-width:1470px) {
    .main {
        width: 400px;
    }
    .main h1 {
        font-size: 3.5rem;
    }
    .books-img {
        top: 14%;
    }
    .books-img img {
        width: 1000px;
        height: 800px;
    }
}

@media (max-width:1320px) {
    .main h1 {
        font-size: 3rem;
    }
    .main p {
        font-size: 0.9rem;
    }
    .main h5 {
        font-size: 0.8rem;
    }
    .books-bg {
        width: 580px;
    }
    .books-img img {
        width: 900px;
        height: 730px;
    }
}

@media (max-width:1224px) {
    .books-bg {
        width: 510px;       
    }
    .books-img {
        top: 24%;
    }
    .books-img img {
        width: 800px;
        height: 630px;
    }
}

@media (max-width:1132px) {
    .books-bg {
        width: 450px;
    }
    .books-img {
        top: 34%;
    }
    .books-img img {
        width: 700px;
        height: 530px;
    }
}

@media (max-width:1044px) {
    .main {
        width: 350px;
    }
    .main h1 {
        font-size: 2.8rem;
    }
    .main p {
        font-size: 0.8rem;
    }
    .main h5 {
        font-size: 0.7rem;
    }
    .books-bg {
        width: 415px;
    }
    .books-img {
        top: 40%;
    }
    .books-img img {
        width: 650px;
        height: 470px;
    }
}

@media (max-width:950px) {
    .main {
        width: 75%;
        padding: 28px 6%;
    }
    .main h1 {
        font-size: 3rem;
    }
    .main p {
        font-size: 1rem;
    }
    .main h5 {
        font-size: 1rem;
    }
    .books-bg {
        display: none;
    }
    .books-img {
        top: 43%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:600px) {
    .main {
        padding: 8px 6%;
    }
    .main h1 {
        font-size: 2.5rem;
    }
    .main p {
        font-size: 0.8rem;
    }
    .main h5 {
        font-size: 0.7rem;
    }
    .books-img {
        top: 50%;
    }
    .books-img img {
        width: 500px;
        height: 300px;
    }
}

/* Home page (footer) */

.footer {
    z-index: 99;
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: #B8CFCE;
    width: 1800px;
    height: 15vh;
    border-radius: 10rem 0 0 0;
    display: flex;
    align-items: center;
    transition: all .50s ease;
}

.axe-logo {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.x {
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

.axe-logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.footer-text {
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    width: 700px;
}

.footer h4 {
    color: white;
    font-size: 4rem;
    font-weight: 200;
    padding: 0 100px;
}

.footer h5 {
    font-weight: 400;
    color: white;
    font-size: 1.2rem;
}

@media (max-width:2100px) {
    .footer {
        width: 1600px;
    }
    .footer-text {
        font-size: 1rem;
        width: 600px;
    }
    .footer h5 {
        font-size: 1rem;
    }
}

@media (max-width:1852px) {
    .footer {
        width: 1500px;
    }
    .footer-text {
        width: 500px;
    }
}

@media (max-width:1756px) {
    .footer {
        width: 1300px;
    }
    .footer-text {
        width: 400px;
        font-size: 0.8rem;
    }
    .footer h5 {
        font-size: 0.8rem;
    }
    .axe-logo img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width:1670px) {
    .footer {
        width: 1250px;
    }
}

@media (max-width:1470px) {
    .footer {
        width: 1100px;
    }
    .footer-text {
        width: 350px;
        font-size: 0.7rem;
    }
    .footer h5 {
        font-size: 0.7rem;
    }
    .footer h4 {
        padding: 0 70px;
    }
    .x {
        font-size: 1.5rem;
    }
    .axe-logo {
        gap: 20px;
    }
}

@media (max-width:1320px) {
    .footer {
        width: 950px;
    }
    .footer-text {
        font-size: 0.6rem;
    }
    .footer h5 {
        font-size: 0.6rem;
    }
    .footer h4 {
        padding: 0 50px;
    }
    .axe-logo {
        padding-right: 50px;
    }
    .axe-logo img {
        width: 75px;
        height: 75px;
    }
    .x {
        font-size: 1rem;
    }
}

@media (max-width:1224px) {
    .footer {
        width:850px;
    }
    .footer-text {
        width:250px;
    }
}

@media (max-width:1132px) {
    .footer {
        width: 800px;
    }
}

@media (max-width:1044px) {
    .footer {
        width: 750px;
    }
    .footer h4 {
        padding: 0 30px;
    }
    .axe-logo {
        padding-left: 80px;
    }
}

@media (max-width:600px) {
    .footer {
        width: 100%;
        border-radius: 0;
    }
    .axe-logo {
        padding: 0 6%;
        gap: 10px;
    }
    .axe-logo img {
        width: 50px;
        height: 50px;
    }
    .footer h4 {
        padding: 0 10px;
        font-weight: 100;
    }
    .footer-text {
        width: 140px;
        font-size: 0.5rem;
    }
    .footer h5 {
        font-size: 0.5rem;
    }
}

@media (max-width:390px) {
    .footer-text {
        width: 150px;
    }
    .footer h4, .footer h5 {
        display: none;
    }
}

/* Home page (class h6) */

.class-h6 {
    position: absolute;
    bottom: 0%;
    height: 15vh;
    width: 130px;
    padding: 0 6%;
    display: flex;
    align-items: center;
}

.class-h6 h6 {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width:1670px) {
    .class-h6 h6 {
        font-size: 1rem;
    }
}

@media (max-width:1470px) {
    .class-h6 h6 {
        font-size: 0.9rem;
    }
}

@media (max-width:1132px) {
    .class-h6 {
        width: 100px;
    }
    .class-h6 h6 {
        font-size: 0.7rem;
    }
}

@media (max-width:850px) {
    .class-h6 {
        display: none;
    }
}